@model Tastebook.Models.IndexViewModel

<h3>Hello, @User.Identity.Name</h3>

<h5>Moje komentarze</h5>
<ul>
    @foreach (var comment in @Model.MyComments)
    {
        <li>[@comment.Created] @comment.Text | @Html.ActionLink("X", "DeleteComment", "Comment", new { commentId = comment.CommentId, returnUrl = Url.Action("Index") }, new { })</li>
    }
</ul>

<hr />

<h5>Opublikowane przepisy</h5>
<ul>
    @foreach (var recipe in @Model.MyRecipes)
    {
        <li>@recipe.Name | @Html.ActionLink( "Zobacz przepis", "ShowRecipe", "Recipe", new { id = @recipe.RecipeId }, new { } )</li>
    }
</ul>

<hr />

<h5>Oczekujące przepisy</h5>
<ul>
    @foreach( var recipe in @Model.NotPublishedRecipes )
    {
        <li>@recipe.Name | @Html.ActionLink( "Edytuj przepis", "AddIngredient", "Recipe", new { recipeId = @recipe.RecipeId }, new { } )</li>
    }
</ul>

<hr />

<h5>Polecone przepisy</h5>
<ul>
    @foreach( var recipe in @Model.LikedRecipes )
    {
        <li>@recipe.Name | @Html.ActionLink( "Zobacz przepis", "ShowRecipe", "Recipe", new { id = @recipe.RecipeId }, new { } )</li>
    }
</ul>