@model Tastebook.Models.IngredientViewModel

<div class="">
    <h2>Tworzenie nowego przepisu <small>(Krok 2 z 2)</small></h2>

    @using (Html.BeginForm("AddIngredient", "Recipe", FormMethod.Post, new { id = "ingrForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.RecipeId)

        <div>
            <h2>@Model.Recipe.Name</h2>
            <hr />
            <h6>Typ dania: @Model.Recipe.RecipeType</h6>
            <h6>Rozmiar porcji: @Model.Recipe.DishSize</h6>
            <h6>Trudność: @Model.Recipe.Difficulty</h6>            
            <hr />
            <h5><strong>Opis:</strong></h5>
            <p style="white-space: pre-wrap">@Model.Recipe.Text</p>
        </div>

        <hr />

        <h5><strong>Składniki:</strong></h5>
        <ul>
            @foreach (var ingr in Model.Ingredients)
            {

                <li>@ingr.Name (@ingr.Amount)</li>
            }
        </ul>

        <hr />

        <text>
            <div id="ingrInputs" class="form-group">                
                @Html.TextBoxFor(model => model.Ingredient.Name, new { @class = "form-control", placeholder = "Nazwa składnika" })
                @Html.TextBoxFor(model => model.Ingredient.Amount, new { @class = "form-control", placeholder = "Ilość składnika" })
            </div>

            <button id="addIngredientBtn" type="submit" class="btn btn-default">Dodaj składnik</button>
        </text>
    }

    <h5><strong>Zdjęcia:</strong></h5>
    <ul>
        @foreach (var image in Model.Images)
        {

            <li><img alt="" src="~/Uploads/Images/@image.ImageId" style="width: 20px; height: 20px;"/></li>
        }
    </ul>

    <hr />
    
    @using (Html.BeginForm( "SaveUploadedFile", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data", @class="dropzone", id="dropzoneForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.RecipeId)

        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    }

    <hr />
    
    <a href="@Url.Action("RecipesList", new {})" class="btn btn-default">Powrót do listy przepisów</a>
    <a href="@Url.Action("CompleteRecipe", new { id = @Model.RecipeId })" class="btn btn-success">Opublikuj przepis</a>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            var inputs = $("#ingrInputs input");
            inputs.val("");

            Dropzone.options.dropzoneForm = {
                init: function () {
                    this.on("complete", function (data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        var res = JSON.parse(data.xhr.responseText);
                        console.log(res);
                    });
                }
            };
        });
    </script>
}
