@model Tastebook.Models.EFModels.Recipe

<h2>Tworzenie nowego przepisu <small>(Krok 1 z 2)</small></h2>

@using (Html.BeginForm("AddRecipe", "Recipe", FormMethod.Post, new { id = "recipeForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    @Html.HiddenFor(model => model.AuthorId)
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.Edited)

    <text>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Nazwa przepisu" })
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", placeholder = "Treść przepisu" })
            @Html.TextBoxFor(model => model.Difficulty, new { @class = "form-control", placeholder = "Trudność" })
            @Html.TextBoxFor(model => model.DishSize, new { @class = "form-control", placeholder = "Wielkość porcji" })
            @Html.EnumDropDownListFor(model => model.RecipeType, "- Typ przepisu -", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-default">Kontynuuj</button>
    </text>
}