@model Tastebook.Models.EFModels.Recipe

<div class="pageHeader">
    <div class="pageTitle">
        <a href="@Url.Action("RecipesList")" class="action fa fa-chevron-left"></a>
        <div class="text">Tworzenie nowego przepisu</div>
        <div class="textSmall">Krok 1 z 2</div>
    </div>
</div>

@using (Html.BeginForm("AddRecipe", "Recipe", FormMethod.Post, new { id = "recipeForm", @class = "materialForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    @Html.HiddenFor(model => model.AuthorId)
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.Edited)

    <text>
        <div class="form-group">
            @Html.EnumDropDownListFor(model => model.RecipeType, "- Typ przepisu -", new { @class = "form-control" })
            @Html.TextBoxFor(model => model.Name, new {@class = "form-control", placeholder = "Nazwa przepisu"})
            @Html.TextAreaFor(model => model.Text, new {@class = "form-control", placeholder = "Treść przepisu"})
            @Html.TextBoxFor(model => model.Difficulty, new {@class = "form-control", placeholder = "Trudność (0 ~ 3)"})
            @Html.TextBoxFor(model => model.DishSize, new {@class = "form-control", placeholder = "Wielkość porcji"})
        </div>

        <div class="">
            <button type="submit" class="btn btn-default">Kontynuuj</button>
        </div>
    </text>
}