@using Microsoft.AspNet.Identity
@model Tastebook.Models.ListViewModel

@{
    ViewBag.Title = "RecipesList";
}

<h2>RecipesList</h2>

<ul>
    @foreach (var recipe in Model.Recipes)
    {
        <li>
            @recipe.Name | Trudność: @recipe.Difficulty | Wielkość: @recipe.DishSize |

            @Html.ActionLink("CZYTAJ", "ShowRecipe", "Recipe", new { id = @recipe.RecipeId }, null)

            @if (User.Identity.IsAuthenticated && User.Identity.GetUserId().Equals(@recipe.AuthorId))
            {
                @Html.ActionLink("USUN", "DeleteRecipe", "Recipe", new { id = @recipe.RecipeId }, null)
                @Html.ActionLink("EDYTUJ", "EditRecipe", "Recipe", new { id = @recipe.RecipeId }, null)
            }
        </li>
    }
</ul>