@using Tastebook.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}

<div class="container-fluid">
    <div class="col-md-8 formImage">
        <span class="formMotto">
            "One cannot think well, love well, sleep well, if one has not dined well."
            <small>Virginia Woolf</small>
        </span>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" }))
        {
            @Html.AntiForgeryToken()

            <span class="form-title">Tastebook</span>
            <h4>Zaloguj się do aplikacji</h4>

            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Adres email" })
                @Html.ValidationMessageFor(model => model.Email)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Twoje hasło" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <a href="javascript:document.getElementById('loginForm').submit()" class="btn btn-lg btn-default">Zaloguj się</a>

            <div class="form-footer">
                @Html.ActionLink("Nie masz konta? Stwórz nowe!", "Register")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}