@model Tastebook.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}

<div class="container-fluid">
    <div class="col-md-8 formImage">
        <span class="formMotto">
            "Food is your body's fuel. Without fuel, your body wants to shut down."
            <small>Ken Hill</small>
        </span>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registerForm", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <span class="form-title">Tastebook</span>
            <h4>Załóż nowe konto zupełnie za darmo</h4>

            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Adres email" })
                @Html.ValidationMessageFor(model => model.Email)
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Twoje hasło" })
                @Html.ValidationMessageFor(model => model.Password)
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Powtórz hasło" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <a href="javascript:document.getElementById('registerForm').submit()" class="btn btn-lg btn-default">Załóż konto</a>
            
            <div class="form-footer">
                @Html.ActionLink("Masz już konto? Zaloguj się!", "Login")
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
